.button1 {
    height: 30px;
    width: 30px;
    background-color: #04AA6D;
    border: none;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: -100px;
  }
  
.button2 {
    height: 30px;
    width: 30px;
    background-color: #aa0404;
    text-align: center;
    border: none;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: -100px;
}

.custom-select {
    min-width: 350px;
    background-color: 'lightgreen'
  }